@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employee Database</h1>
    <p>Simple ASP.net MVC website to perform CRUD operations on a database.</p>
</div>
